
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 border: none;
}
#ch_id{
  width: 60%;
  border:solid 5px red;
 
  margin-left: 20%;
  padding: 5%;
  padding-left: 0%;
}
td{
  border: solid black;
  text-align: left;
  padding: 8px;
}
.ch_id1{
  padding-right: 200px;
}

a{
  background-color:#008CBA ;
  color: white;
  display: inline-block;
  height:30px;
  width:200px;
 
}
a:hover {
  background:#008CBA ;
  color: white;
}
input{
  margin-left: 30px;
}


 