/* 
 table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 border: none;
}

 td{
 
  text-align: left;
  padding: 8px;
}  */

div{
  font-family: arial, sans-serif;
  border-collapse: collapse;
 border: none;
}
h1{
  margin-right: 700px;
}
#user1{
  color: #02c2ae;
}
#bot1{
  color: #026fc2;
}
 b{
   padding-right: 100px;
 }